<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.EAEProjekt"
        tools:targetApi="31">
        <activity
            android:name=".activity.RecipeEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RecipeDetailViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewRecipeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.RecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShoppingBagActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
